---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Chi Sono - Dott.ssa Eleonora Fossa">
  <h1 class="display-5 mb-4">Chi sono e formazione</h1>

  <p class="text-muted mb-4">
    Psicologa a Castelfranco Emilia e Reggio Emilia<br />
    Adolescenti e Adulti
  </p>

  <p>
    Ho Conseguito la Laurea in Psicologia Cognitiva Applicata nel <strong
      >2018</strong
    > e sono iscritta all'Albo degli Psicologi dell'Emilia Romagna nella sezione
    A con il numero <strong>10498</strong> (Scheda Personale <strong
      >ELEONORA FOSSA</strong
    > - Ordine degli Psicologi dell'Emilia-Romagna).
  </p>

  <p>
    Nel 2022 ho iniziato il percorso di <strong
      >specializzazione in psicoterapia</strong
    > presso la scuola Bolognese di PsicoterapiaCognitiva (SBPC) dei dott. re Silvio
    Lenzi e Furio Lambruschi.
  </p>

  <p>
    Ho approfondito la mia formazione attraverso un percorso di <strong
      >psicoterapia personale</strong
    >
  </p>

  <p>
    Durante il percorso di specializzazione in terapia ho avuto la possibilità
    di conseguire le seguenti certificazioni:
  </p>

  <ul>
    <li>
      <a href="/disturbi/dtb" class="text-primary"><strong>DBT</strong></a>-
      workshop introduttivo. Certificato rilasciato dalla Società Italiana per
      la Dialectical Behavior Therapy. La Terapia Dialettico Comportamentale (<strong
        >IDBT</strong
      >) è una terapia evidence-based per il <strong
        >disturbo borderline di personalità.</strong
      >
      <br />
      Efficace anche per comportamenti impulsivi e pericolosi (es. guida spericolata,
      risse), uso problematico di sostanze, farmaci o alcol, disturbi della condotta
      alimentare (binge eating, bulimia), isolamento sociale, ritiro emotivo, difficoltà
      relazionali.<br />
      Per un approfondimento
    </li>
    <li>
      <a href="/disturbi/tmi" class="text-primary"
        ><strong>Terapia Metacognitiva Interpersonale (TMI)</strong></a
      > che sostiene come per conoscere e curare un disturbo mentale è necessario
      capire in che modo i diversi tratti di personalità si articolino tra loro <strong
        >creando un funzionamento patologico stabile nel tempo.</strong
      ><br />
    </li>
    <li>
      <a href="/disturbi/cpp" class="text-primary"
        ><strong>COPING POWER PROGRAM</strong></a
      >
      è un intervento specifico per la gestione e il controllo dell'aggressività
      per bambini. Lo scopo generale di questo programma e quello di aiutare e sostenere
      i bambini con problemi legati all'impulsività, al difficile rispetto per le
      regole e a comportamenti aggressivi. Il Coping Power Program prevede una componente
      dedicata ai bambini e una dedicata ai genitori. Nella mia pratica professionale,
      ne utilizzo le nozioni e gli strumenti per supportare i genitori.<br />
    </li>
  </ul>
</Layout>

<style>
  h1 {
    font-weight: bold;
  }

  p,
  li {
    line-height: 1.6;
  }

  ul {
    list-style-type: disc;
    margin-left: 1.5rem;
  }

  li {
    margin-bottom: 1rem;
  }
</style>
