---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Come lavoro - Dott.ssa Eleonora Fossa">
  <h1 class="display-5 mb-4">Come lavoro</h1>

  <p class="text-muted mb-4">
    Psicologa a Castelfranco Emilia e Reggio Emilia<br />
    Adolescenti e Adulti
  </p>

  <p>
    Il <strong>sintomo</strong> è un <strong>campanello di allarme</strong> di qualcosa
    che non sta funzionando in noi. <strong
      >Ma il vero problema è il sintomo o ciò che lo causa?</strong
    > e ancora, perché proprio quel sintomo e non quella difficoltà? <strong
      >perché in quel momento?</strong
    >
  </p>

  <p class="text-center my-4">
    Insieme possiamo capire <strong>il significato</strong> di questo sintomo.
  </p>

  <p>
    Per farlo possiamo esplorare come la persona vive e interpreta la realtà.
    Quali emozioni e pensieri si attivano nelle diverse situazioni o con le
    diverse persone?
  </p>

  <p>
    Ogni persona, per come è cresciuta e per le esperienze che ha fatto, ha una
    visione unica del mondo ed un proprio modo di costruire significati e
    aspettative.
  </p>

  <p>
    Ogni persona ha un proprio modo di funzionare ed è questo uno degli
    obiettivi da perseguire in terapia. <strong
      >In questo modo si può comprendere il sintomo e il malessere.</strong
    >
  </p>

  <p>
    Guidare e accompagnare a una scoperta di sé è il metodo per risolvere le
    difficoltà in modo profondo e permanente riconoscenza di difficoltà future
  </p>

  <p>
    Ognuno di noi è come se indossasse degli occhiali con delle lenti che gli
    fanno vedere il mondo in un determinato modo. Possiamo modificare quelle
    lenti? Esplorare le nostre credenze su noi stessi o sugli altri più
    flessibili?
  </p>

  <p>
    Il mio approccio consiste nel personalizzare ogni percorso terapeutico sulle
    <strong>caratteristiche uniche dell'individuo.</strong> L'obiettivo è che il
    trattamento risponda realmente ai bisogni specifici del soggetto.
  </p>

  <p>
    La prima seduta è di conoscenza e dialogo sul motivo che ha portato il
    paziente in studio. Fin dalla prima seduta è inoltre importante concordare
    l'obiettivo che si vuole raggiungere, il metodo e i compiti reciproci.
  </p>
</Layout>

<style>
  h1 {
    font-weight: bold;
  }

  p {
    line-height: 1.7;
    margin-bottom: 1rem;
  }
</style>
