---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home - Dott.ssa Eleonora Fossa">
  <h1 class="display-4 mb-4">Home</h1>

  <div class="border p-4 mb-4">
    <p class="lead">
      Benvenuti, sono la dott.ssa <strong>Eleonora Fossa</strong>, psicologa ad
      orientamento cognitivo-costruttivista.
    </p>

    <p>
      Il mio lavoro consiste nel guidare le persone a comprendere che il modo di
      comportarsi e reagire alle situazioni difficili non sono le uniche
      possibilità di azione e reazione in loro possesso. Cerco attraverso la
      discussione questa convinzione, osservando con attenzione pensieri,
      emozioni e comportamenti tipici che entrano in gioco nei momenti critici.
      I sintomi possono avere significati e funzioni che è necessario
      comprendere e conoscere per far sì che essi possano essere lasciati alle
      spalle.
    </p>

    <p><strong>Lavoro con adolescenti e adulti.</strong></p>

    <p class="mb-2"><strong>Mi occupo di:</strong></p>
    <ul>
      <li>Ansia, paura, fobie, attacchi di panico, ipocondria,</li>
      <li>Depressione, tristezza, senso di vuoto</li>
      <li>Autostima, personalizzazione e orientamento personale</li>
      <li>Aggressività, rabbia, gelosia</li>
      <li>Anoressia e regolazione delle emozioni</li>
      <li>Problemi comportamentali</li>
      <li>
        Ansia sociale, vergogna, relazioni sociali, sensibilità al giudizio
      </li>
      <li>A.D.H.D., mutismo selettivo, balbuzie, bullismo</li>
      <li>Stress, trauma, assertività,</li>
      <li>Senso di colpa, disturbo ossessivo compulsivo</li>
      <li>Disturbi alimentari,</li>
      <li>Crisi adolescenziali, crisi esistenziali,</li>
      <li>Dipendenza affettiva,</li>
      <li>Orientamento sessuale, disfunzioni sessuali</li>
    </ul>
  </div>
</Layout>

<style>
  .border {
    border: 1px solid #dee2e6 !important;
  }

  h1 {
    font-weight: bold;
  }

  .lead {
    font-size: 1.1rem;
  }
</style>
