---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Terapia di coppia - Dott.ssa Eleonora Fossa">
  <h1 class="display-5 mb-4">Terapia di coppia</h1>

  <p class="text-muted mb-4">
    Psicologa a Castelfranco Emilia e Reggio Emilia<br />
    Adolescenti e Adulti
  </p>

  <p>Nella terapia di coppia bla bla bla</p>
</Layout>

<style>
  h1 {
    font-weight: bold;
  }

  p {
    line-height: 1.7;
  }
</style>
