---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Terapia di coppia - Dott.ssa Eleonora Fossa">
  <p>Nella terapia di coppia bla bla bla</p>
</Layout>

<style>
  h1 {
    font-weight: bold;
  }

  p {
    line-height: 1.7;
  }
</style>
