---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Depressione, tristezza, sbalzi d'umore - Dott.ssa Eleonora Fossa"
>
  <h1 class="display-5 mb-4">Depressione, tristezza, sbalzi d'umore</h1>

  <p class="text-muted mb-4">
    Psicologa a Castelfranco Emilia e Reggio Emilia<br />
    Adolescenti e Adulti
  </p>

  <p>
    Dove si vede della depressione? È volte essere difficile a altre volte
    veramente impossibile vedere una possibilità di cura.
  </p>
</Layout>

<style>
  h1 {
    font-weight: bold;
  }

  p {
    line-height: 1.7;
    margin-bottom: 1rem;
  }
</style>
