---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Terapia Dialettico Comportamentale - Dott.ssa Eleonora Fossa">
  <h1 class="display-5 mb-4">Terapia Dialettico Comportamentale</h1>

  <p class="text-muted mb-4">
    Psicologa a Castelfranco Emilia e Reggio Emilia<br />
    Adolescenti e Adulti
  </p>

  <p>Contenuto sulla Terapia Dialettico Comportamentale...</p>
</Layout>

<style>
  h1 {
    font-weight: bold;
  }

  p {
    line-height: 1.7;
    margin-bottom: 1rem;
  }
</style>
