---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Terapia Dialettico Comportamentale - Dott.ssa Eleonora Fossa">
  <h1 class="display-5 mb-4">Terapia Dialettico Comportamentale</h1>

  <p>Contenuto sulla Terapia Dialettico Comportamentale...</p>
</Layout>

<style>
  h1 {
    font-weight: bold;
  }

  p {
    line-height: 1.7;
    margin-bottom: 1rem;
  }
</style>
